{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * craft-delivery-date plugin for Craft CMS 3.x
 *
 * craft-delivery-date Settings.twig
 *
 * @author    Digital Butter
 * @copyright Copyright (c) 2020 Digital Butter
 * @link      https://www.butter.com.hk
 * @package   CraftDeliveryDate
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{{ forms.textField({
    label: 'Name',
    id: 'timeslot-name',
    name: 'name',
    required: true,
    value: timeslot.name})
}}

{{ forms.timeField({
    label: 'Start Time',
    id: 'timeslot-start',
    name: 'start',
    required: true,
    value: timeslot.start})
}}

{{ forms.timeField({
    label: 'End Time',
    id: 'timeslot-end',
    name: 'end',
    required: true,
    value: timeslot.end})
}}

{% js %}
    $('document').ready(function() {
        $('#timeslot-form').submit(function(e) {
            if (!$('#timeslot-name').val()) {
                e.preventDefault();
                $('#timeslot-name-field').find('.errors').remove();
                $('#timeslot-name-field').append('<ul class="errors"><li>Name cannot be blank.</li></ul>');
            } else {
                $('#timeslot-name-field').find('.errors').remove();
            }
            
            if (!$('#timeslot-start-field input[name="start[time]"]').val()) {
                e.preventDefault();
                $('#timeslot-start-field').find('.errors').remove();
                $('#timeslot-start-field').append('<ul class="errors"><li>Timeslot start time cannot be blank.</li></ul>');
            } else {
                $('#timeslot-start-field').find('.errors').remove();
            }

            if (!$('#timeslot-end-field input[name="end[time]"]').val()) {
                e.preventDefault();
                $('#timeslot-end-field').find('.errors').remove();
                $('#timeslot-end-field').append('<ul class="errors"><li>Timeslot end time cannot be blank.</li></ul>');
            } else {
                $('#timeslot-end-field').find('.errors').remove();
            }
        });
    })
{% endjs %}